  		<div id="voting_form<%= feed_item.id %>">	
   				 <%=  render 'upvote',  feed_item: feed_item%>
   				 <%=  render 'downvote', feed_item: feed_item %>
   				 <span><%= render 'vote_count' , feed_item: feed_item %></span>
  		</div>
