<% provide(:title, 'About Us') %>
<div class="container">

<h1>SciEdge</h1>
<div class="center hero-unit">
<h2>
	Defining the edge of science by outlining the questions being solved today
</h2>
</div>
</div>
</p>