
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 container white">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: "form-inline", role: "form"}) do |f| %>
      <%= f.error_notification %>
        <%= f.input :email, required: true, autofocus: true, html: {class: "form-control"} %>
		<%= f.input :bio  %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>



      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
  <div class="col-md-4">
  </div>
</div>
