<% provide(:title, 'Sign Up') %>
<div class="contaier">
<div class="row">
  <div class="col-md-4">
	</div>
	<div class="col-md-4">
<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  	<div class="well well-small">  
  	<%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <%= f.input :bio  %>

    </div>
    <div class="well well-small">
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    </div>

    <%= f.submit  "Sign Up" , class: "btn btn-large btn-primary" %>
			<div>	
			<%= render "devise/shared/links" %>
			</div>
   </div>
   <div class="col-md-4">
	</div>  
   </div>
<% end %>

</div>
