<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:
     </div>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
	  <div class="well">
	  	<div class="text-center">
	<%= f.label :parent_node %>
	<%= f.select :parent_id, nested_set_options(Topic, @topic) {|i| "#{'-' * i.level} #{i.name}" }, required: true %>

	
    <%= f.label :topic_name %><br>
    <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="well text-center">
    <%= f.label :topic_description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
</div>
<div class="col-md-3">

<% end %>
