<% provide(:title, 'New Topic') %>
<div class="container">
<div class="col-md-4"></div>
<div class="col-md-4">
<h2 style="text-align: center">New Topic</h2>
</div>
<div class="col-md-4"></div>
</div>
<%= render 'form' %>

<%= link_to 'Back', topics_path %>
</div>
