<% provide(:title, @topic.name) %>

<p id="notice"><%= notice %></p>

<div class="well">
  <%= render partial: 'shared/show_topic',locals: { :topic => @topic } %>
</div>


<div class="well well-large">
	<div class="container">
<div class="col-md-4"><%= link_to 'Back', root_path, class: "btn btn-sm btn-primary center-block" %> </div>
<div class="col-md-4">
<%= render 'shared/delete_topic', feed_item: @topic %>
</div>
<div class="col-md-4"><%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-sm btn-primary center-block" %></div>
</div>
</div>
