<%= form_for(feed_item, url: edits_path, method: :post) do |f| %>
	<%= f.hidden_field :description, value: nil %>
 	<%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
 	<%= f.hidden_field :topic_id, value: feed_item.id %>
	<%= f.hidden_field :chg, value: 'DELETE' %>
    <%= f.submit "Delete", class: "btn btn-sm btn-danger center-block", data: { confirm: "You sure?" }  %>
<% end %>