<li id="<%= feed_item.id %>">
	<div class="row">
      <div class="col-md-12">
      	<span class="user">
          <strong><%= link_to feed_item.topic.name, feed_item %></strong> 
          </span>
		    <span class="content">
          <small><%= feed_item.description %></small></span>
      	<span class="timestamp">
          Type: <%= feed_item.chg %> ago  <strong> by:  </strong>    
          <% user = User.find(feed_item.user_id) %>
          <%= user.name %>
        </span>
        <span class="navbar-right">
        	<% if user_signed_in? %>
     	    	<%= render 'edits/voting_form' , feed_item: feed_item %>
     	    	
      		<% end %>
        </span>
		  </div>
  </div>
</li>



