<div class="text-center">

  <p>
    <h1>The topic is...</h1>
    <h1><strong><%= topic.name %></strong></h1>
  </p>
</div>
<p class="text-center lead">
  <%= topic.description %>
</p>

<div>
  
  <strong><%=  "Added By:"  %></strong> <%=  topic.user.name if topic.user %>
</div>
