<% provide(:title, 'Sign In') %>
<div class="container">
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-5 container white">

  <h1>Sign in</h1>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, required: false, autofocus: true%>
      <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean, label: false %>
        <%= f.label :remember_me %>
      <%= f.submit  "Submit" , class: "btn btn-large btn-primary", style: "margin-top: 20px; margin-bottom: 20px;" %>
  <% end %>
  <div>
    <%= render "devise/shared/links" %>
  </div>

  </div>
  <div class="col-md-3">
  </div>
</div>
</div>
