<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
   	 <div class="navbar-header">

      <%= link_to "SciEdge", root_path, id: "logo", class: "navbar-brand" %>
      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Edits", edits_path %></li>


			<% if user_signed_in? %>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>