<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
 	<%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
  	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
 <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <div class="container">
  <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
  

</body>
</html>
